/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 23, 2015, 11:47:12 AM
    Author     : User!
*/

body{
    background-color: #ffcc88;
}

.container {
    background-color: #FFF;
    width: 1142px;
}


/*****comtent*******/




.content-grid{
   margin-left: 2em;
font-size: 13pt;

}

/******comment**********/
.content-coment{
    margin-top: 0.5em;
    margin-left: 1em;
    min-width: 463px;
    float: left;
    background: #fff;
     border-left: 4px solid #7ad03a;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.1);
    width: 60%;
    padding: 0px 2em 4px;
    margin-bottom: 1em;

}
.img-user{
    float: left;
    width: 7%;
    margin-left: -1em;
    padding-top: 3px;
}
.name-user{
    background-color: #FFF;
    float: left;
    margin-top: 3px;
    font-size: 15pt;
    margin-left: 2.4em;
    font-family: Franklin Gothic Demi;
}

.commented{
    margin-top: 2.5em;
    background-color: red;
    margin-left: 5em;
}

.clearfix{
    margin-top: 1em;

}

.addComment{
 width: 60%;
 margin-left: 1em;
}



/*************/
.sended{
    margin-bottom: 2em;
}
.sended input[type="submit"] {
	background: #5fa022;
	color: #FFF;
	font-size: 1em;
	padding: 1em 2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
        border: none;
}



.sended input[type="submit"]:hover{
	background:#ffe764;
	text-decoration:none;
	color:#fff;
        border: none;
}


.edit-comment{
    float: right;
margin-top: 10px;
}