body{
    background-color: #f5f3f4;
    
}

/*--login--*/

.account_grid{
        padding-left: 3em;
    
}

.login-left {
	padding: 0;
        padding-right: 1em;
}

.login-left h3, .login-right h3 {
  color: #1A1A1A;
  padding-bottom: 0.5em;
}

.login-left p, .login-right p {
	color: #868583;
	display: block;
	font-size: 1em;
	margin: 0 0 2em 0;
	line-height: 1.8em;
}


.acount-btn,.login-right input[type="submit"] {
	background: #5fa022;
	color: #FFF;
	font-size: 1em;
	padding: 1em 2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
        border: none;
}



.acount-btn:hover, .login-right input[type="submit"]:hover{
	background:#ffe764;
	text-decoration:none;
	color:#fff;
        border: none;
}


.login-right form {
	padding: 1em 0;
}
.login-right form div {
	padding: 0 0 2em 0;
}
.login-right span {
	color: #999;
	font-size:0.8125em;
	padding-bottom: 0.2em;
	display: block;
	text-transform: uppercase;
}

.login-right input[type="password"] {
	border: 1px solid;
    border-color: #5b9822;
	outline:none;
	width: 100%;
	font-size:1em;
	padding: 0.5em;
}

.login-right input[type="text"]{
	border: 1px solid;
    border-color: #5b9822;
	outline:none;
	width: 100%;
	font-size:1em;
	padding: 0.5em;
}



a.forgot {
	font-size: 0.875em;
    
	margin-right: 11px;
	color:#727272;
}

.login-page {
    padding: 4em 0;
    min-height: 626px;;
}




.acount-btn {
  font-size: .875em;
}
.login-right input[type="submit"] {
  font-size: 0.875em;
}